<div class='rows'>
  <div class="col-lg-12">
    <h2>Edit</h2>
  </div>
</div>

<div class='rows'>
  <div class="col-lg-12">
    <form>
      {{#each filteredColumns as |column|}}
        <div class="form-group">
          <label>{{column}}</label>
          {{inputs/admin-input model=model columnValue=column}}
        </div>
      {{/each}}

      {{#each relationshipTypes as |relationshipType|}}
        {{#each relationshipType as |relationship|}}
          <div class="form-group">
            <label>{{relationship.name}}</label>
            {{inputs/admin-relation model=model relationship=relationship}}
          </div>
        {{/each}}
      {{/each}}

    </form>
  </div>
</div>

{{admin-item-footer save="save" cancel="cancel"}}
