<div class="ember-admin">
  <nav class="navbar navbar-default navbar-fixed-top">

    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          Admin
        </a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              {{#if current-model}}
                {{current-model}}
              {{else}}
                Model
              {{/if}}

              <span class="caret"></span>
            </a>

            <ul class="dropdown-menu">
              {{#each filteredModels as |name|}}
                <li>
                  {{link-to name 'model-records' name}}
                </li>
              {{/each}}
            </ul>
          </li>
        </ul>

        {{#if list-model}}
          <div class="navbar-form navbar-left">
            <div class="form-group">
              {{input value=indexController.filter placeholder="Filter" class="form-control"}}
            </div>
          </div>
        {{/if}}

        <ul class="nav navbar-nav navbar-right">
          {{#if list-model}}
            <li>
              {{link-to 'Create' 'model-records.new' current-model}}
            </li>
          {{/if}}

          {{#if item-model}}
            <li>
              {{link-to 'Cancel' 'model-records.index' current-model}}
            </li>
          {{/if}}
        </ul>

      </div>
    </div>
  </nav>

  {{outlet}}
</div>
